nav {
  height: 5rem;
  padding: 0 4em;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  @include flex(row, space-between, center);
  div {
    p {
      font-size: 2rem;
      font-weight: bold;
    }
  }
  ul {
    @include center;
    li {
      margin-left: 2em;
      font-size: 1.2em;
      a {
        color: black;
      }
    }
  }
}
